.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.count {
  color: #35aee2;
  text-align: right;
}

input {
  margin-top: 16px;
  width: 97%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

.waveButton {
  width: 100%;
  cursor: pointer;
  margin-top: 12px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.loader {
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #35aee2;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}